<div class="container">
    <div [hidden]="submitted">
        <h1>Add Todo</h1>
        <form (ngSubmit)="onSubmit(todo)" #todoForm="ngForm">
            <!-- Username -->
            <div class="form-group">
                <label for="user">Username</label>
                <input type="text" class="form-control" id="user" required
                    [(ngModel)] = "todo.user" name="user" #todousername = "ngModel">
            </div>

            <div class="invalid" [hidden] = "todousername.valid || todousername.pristine">Value cannot be empty</div>
    
            <!-- Description -->
            <div class="form-group">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="desc" required
                    [(ngModel)] = "todo.desc" name="desc" #tododescription = "ngModel">
            </div>

            <div class="invalid" [hidden] = "tododescription.valid || tododescription.pristine">Value cannot be empty</div>

            <!-- Completed -->
            <div class="form-group">
                    <label for="isDone">Completed</label><br>       
                    <input type="radio" name="isDone" [(ngModel)]="todo.isDone" [value]=true> True 
                    <input type="radio" name="isDone" [(ngModel)]="todo.isDone" [value]=false> False
            </div>

            <!-- Target Date -->
            <div class="form-group">
                <label for="targetDate">Target Date</label>
                <input type="date" class="form-control" id="targetDate" required
                    [(ngModel)] = "todo.targetDate"
                    name = "targetDate" #todotargetdate = "ngModel">
            </div>
        
            <!-- {{diagnostic}}<br> -->

            <button type="submit" class="btn btn-success" [disabled] = "todoForm.form.invalid">Add Todo</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You submitted the following: </h2>
        <div class="row">
            <div class="col-xs-3">Username</div>
            <div class="col-xs-9">{{ todo.user }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Description</div>
            <div class="col-xs-9">{{ todo.desc }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Completed</div>
            <div class="col-xs-9">{{ todo.isDone }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Target Date</div>
            <div class="col-xs-9">{{ todo.targetDate | date:'MM/dd/yyyy' }}</div>
        </div>

        <div class="actionbtns">
            <button class="btn btn-primary" (click)="submitted=false">Edit</button>
            <a mat-raised-button color="accent" class="listtodosbtn" routerLink="/todolist">List Todos</a>
        </div>
    </div>
</div>